# Задание 1.

Решить задачу классификации для выбранного набора данных с http://keel.es/

In [ ]:
import pandas as pd
import numpy as np
from io import StringIO

In [5]:
!unzip "phoneme.zip"

Archive:  phoneme.zip
  inflating: phoneme.dat

In [43]:
file = open("phoneme.dat", "r")
temp = file.read()
file.close()

In [54]:
import pandas as pd
data = pd.read_csv(StringIO(temp),  
                 skiprows=10,
                 names = ['Aa', 'Ao', 'Dcl', 'Iy', 'Sh', 'Class']) 
data.head()

      Aa     Ao    Dcl     Iy     Sh  Class
0  1.240  0.875 -0.205 -0.078  0.067      0
1  0.268  1.352  1.035 -0.332  0.217      0
2  1.567  0.867  1.300  1.041  0.559      0
3  0.279  0.990  2.555 -0.738  0.000      0
4  0.307  1.272  2.656 -0.946 -0.467      0

In [58]:
y = data['Class'].to_numpy()
X = data.drop('Class',1).to_numpy()
print(np.unique(y))

[0 1]

In [67]:
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import RobustScaler
from imblearn.over_sampling import BorderlineSMOTE
from sklearn.metrics import balanced_accuracy_score
from sklearn.tree import DecisionTreeClassifier

y = data['Class'].to_numpy()
X = data.drop('Class',1).to_numpy()
kf = StratifiedKFold(5)
train_accuracies = []
test_accuracies = []
for train_index, test_index in kf.split(X, y):
  X_train = X[train_index]
  X_test = X[test_index]
  y_train = y[train_index]
  y_test = y[test_index]
  oversampler = BorderlineSMOTE()
  X_train, y_train = oversampler.fit_resample(X_train, y_train)
  scaler = RobustScaler()
  X_train = scaler.fit_transform(X_train)
  X_test = scaler.transform(X_test)
  model = DecisionTreeClassifier()
  model.fit(X_train, y_train)
  y_pred_train = model.predict(X_train)
  y_pred_test = model.predict(X_test)
  balanced_accuracy_tr = balanced_accuracy_score(y_pred_train, y_train)
  balanced_accuracy_ts = balanced_accuracy_score(y_pred_test, y_test)
  train_accuracies.append(balanced_accuracy_tr)
  test_accuracies.append(balanced_accuracy_ts)
print(" Обучение:", np.mean(train_accuracies) * 100, "%, Тест:", np.mean(test_accuracies) * 100, ' %')

 Обучение: 100.0 %, Тест: 83.1947835142287  %